<div class="books-post-contents">
  <header class="books-post-header">
    <%= link_to image_tag("icon.png", class:"second-logo"), "/" %>
    <a href="/">ReadersHub</a>

  </header>
  <div class="books-post-main">
    <h2 class="books-post-title">本の情報を入力</h2>
    <%= form_with(model: @book,local: true) do |f| %>

    <% render 'shared/error_messages', model: f.object %>

    <div class="img-upload">
      <div class="weight-bold-text">
        書籍画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>

    <div class="new-books">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"books-text", id:"item-name", placeholder:"タイトル", maxlength:"40" %>

      <div class="weight-bold-text">
        著者
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :author, class:"books-text", id:"item-name", placeholder:"著者", maxlength:"40" %>
    </div>

    <div class="books-detail">
      <div class="form">
        <div class="weight-bold-text">
          ジャンル
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>
    </div>

      <div class="books-explain">
        <div class="weight-bold-text">
          要約
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :summary, class:"books-text", id:"item-info", placeholder:"本の要約" ,rows:"7" ,maxlength:"1000" %>
      </div>

      <div class="books-explain">
        <div class="weight-bold-text">
          感想
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :impressions, class:"books-text", id:"item-info", placeholder:"本の感想" ,rows:"7" ,maxlength:"1000" %>
      </div>

    <div class="post-btn-contents">
      <%= f.submit "投稿する" ,class:"post-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>

  </div>
  <% end %>

  <footer class="books-post-footer">
    <%#= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>
    <p class="inc">
      ReadersHub
    </p>
  </footer>
</div>