<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @book.title %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @book.image, class:"item-box-img" %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
         <%= @book.author %>
      </span>
      <span class="item-postage">
        <%= @book.genre.name %>
      </span>
    </div>

    <% if user_signed_in? %>
      <% if current_user.id == @book.user_id %>
        <%= link_to "本の編集", edit_book_path(@book.id), method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", book_path(@book.id), method: :delete, class:"item-destroy" %>
      <% end %>
    <% end %>

    <div class="item-explain-box">
      <span><%= @book.summary %></span>
    </div>
    <div class="item-explain-box">
      <span><%= @book.impressions %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= @book.user.nickname %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
    </div>
  </div>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        <br>
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の本
    </a>
    <a href="#" class="change-item-btn">
      後ろの本 ＞
    </a>
  </div>
</div>

<%= render "shared/footer" %>
